<!DOCTYPE html>
<html lang="en" ng-app="spApp">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      
      
      <title>Sliding Puzzle</title>
      
      <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="content/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="content/css/main.css" rel="stylesheet">
      
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div class="container">Sliding Puzzle <i class="fa fa-gamepad"></i></div>
      
      <div ng-controller="BoardController">
         <div  tabindex="1" class="container" id="board"
              ng-swipe-left="swipeLeft();"
              ng-swipe-right="swipeRight();"
              ng-keydown="keyPress($event);" 
              focus-me="{{focusTheBoard}}">
            <div class="row board-row" ng-repeat="r in boardItems">
               <div class="col-xs-3 board-cell" 
                    ng-class="{'board-empty-cell': c.number == null, 'board-movable-cell': c.canMove}" 
                    ng-repeat="c in r"
                    board-item
                    board-item-info="c"
                    board-items="boardItems" >
                  <div class="board-cell-child" ng-bind="c.number"></div>
               </div>
            </div>
         </div>
      </div>
      
      <script src="lib/jquery/jquery-1.11.1.min.js"></script>
      <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="lib/angularjs/angular.min.js"></script>
      <script src="lib/angularjs/angular-animate.min.js"></script>
      <script src="lib/angularjs/angular-touch.min.js"></script>
      
      <script src="content/js/dom.js"></script>
      
      <script src="app/app.js"></script>
      <script src="app/controllers/board.js"></script>
      <script src="app/services/spGame.js"></script>
      <script src="app/directives/boardItem.js"></script>
      <script src="app/directives/focusMe.js"></script>
   </body>
</html>