/*color picker: http://paletton.com/ */
body {
   font-family: Helvetica;
   background-color: #A1C99B;
   color: #4F8F45;
   
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#board {
   background-color: #C8E0C4;
   -webkit-border-radius: 5%;
   -moz-border-radius: 5%;
   border-radius: 5%;
}

.board-row {
   height: 22%;
   margin-top: 2.5%;
}

.board-cell {
   background-color: #E9F1E7;
   color: #0D6513;
   font-size: 1em;
   font-weight: bold;
   text-align: center;
   width: 22%;
   height: 100%;
   margin-left: 2.5%;
   border: 0.1em solid #A1C99B;
   -webkit-border-radius: 25%;
   -moz-border-radius: 25%;
   border-radius: 25%;
   cursor: default;
}

/* http://thephuse.com/development/the-best-way-to-vertically-align-in-css/ */
.board-cell:before, .board-cell-child   {
   display: inline-block;
   vertical-align: middle;
}

.board-cell:before {
   content: '';
   display: inline-block;
   width: 0;
   height: 100%;
   vertical-align: middle;
   margin-left: -0.25em;
}

.board-empty-cell {
   background-color: #0F5A32;
   border: 0.17em solid #238D8D;
}

.board-movable-cell:hover {
   background-color: #0D6513;
   border: 0.17em solid #E9F1E7;
   color: #E9F1E7;
   cursor: pointer;
}


/*shake idea from here: http://www.cssscript.com/shake-html-elements-with-css3-animations-and-transforms-linkquake/ */
.shake {
	-webkit-animation-name: shakeAnim;
   -moz-animation-name: shakeAnim;
	animation-name: shakeAnim;
   
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	animation-duration: 0.3s;
	
   -webkit-transform-origin:150% 150%;
	-moz-transform-origin:150% 150%;
	transform-origin:150% 150%;
	
   -webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	
   -webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
}

@keyframes shakeAnim {
	0%   { 
		transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		transform: translate(-1px, -2px) rotate(-1deg); 
	}
	20%  { 
		transform: translate(-3px, 0px)  rotate(1deg); 
	}
	30%  { 
		transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		transform: translate(1px, -1px)  rotate(1deg); 
	}
	50%  { 
		transform: translate(-1px, 1px)  rotate(-1deg); 
	}
	60%  { 
		transform: translate(-3px, -2px)  rotate(0deg); 
	}
	70%  { 
		transform: translate(2px, 1px)   rotate(-1deg); 
	}
	80%  { 
		transform: translate(-1px, -2px) rotate(1deg); 
	}
	90%  { 
		transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		transform: translate(1px, -2px)  rotate(-1deg); 
	}
}

@-moz-keyframes shakeAnim { /* Firefox */
	0%   { 
		-moz-transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		-moz-transform: translate(-1px, -2px) rotate(-1deg); 
	}
	20%  { 
		-moz-transform: translate(-3px, 0px)  rotate(1deg); 
	}
	30%  { 
		-moz-transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		-moz-transform: translate(1px, -1px)  rotate(1deg); 
	}
	50%  { 
		-moz-transform: translate(-1px, 1px)  rotate(-1deg); 
	}
	60%  { 
		-moz-transform: translate(-3px, -2px)  rotate(0deg); 
	}
	70%  { 
		-moz-transform: translate(2px, 1px)   rotate(-1deg); 
	}
	80%  { 
		-moz-transform: translate(-1px, -2px) rotate(1deg); 
	}
	90%  { 
		-moz-transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		-moz-transform: translate(1px, -2px)  rotate(-1deg); 
	}
}

@-webkit-keyframes shakeAnim { /* Safari and Chrome */
	0%   { 
		-webkit-transform: translate(2px, 1px)   rotate(0deg); 
	}
	10%  { 
		-webkit-transform: translate(-1px, -2px) rotate(-1deg); 
	}
	20%  { 
		-webkit-transform: translate(-3px, 0px)  rotate(1deg); 
	}
	30%  { 
		-webkit-transform: translate(0px, 2px)   rotate(0deg); 
	}
	40%  { 
		-webkit-transform: translate(1px, -1px)  rotate(1deg); 
	}
	50%  { 
		-webkit-transform: translate(-1px, 1px)  rotate(-1deg); 
	}
	60%  { 
		-webkit-transform: translate(-3px, -2px)  rotate(0deg); 
	}
	70%  { 
		-webkit-transform: translate(2px, 1px)   rotate(-1deg); 
	}
	80%  { 
		-webkit-transform: translate(-1px, -2px) rotate(1deg); 
	}
	90%  { 
		-webkit-transform: translate(2px, -1px)   rotate(0deg); 
	}
	100% { 
		-webkit-transform: translate(1px, -2px)  rotate(-1deg); 
	}
}