body {
   font-family: Helvetica;
   font-size: 5vw;
   background-color: #AA3939;
   color: #FFAAAA;
}

.board-cell {
   background-color: #FFAAAA;
   color: #550000;
   font-size: 1em;
   font-weight: bold;
   text-align: center;
}

.dummy {
    margin-top: 100%;
}

.thumbnail {
    position: absolute;
    top: 1vw;
    bottom: 1vw;
    left: 1vw;
    right: 1vw;
    text-align:center;
    padding-top:calc(50% - 5vw);
    background-color: #943A3A;
}